.sidebar{
    flex: 1; 
    height: calc(100vh - 50px); /*evitamos el desbordamiento*/
    position: sticky; /*se mueva con el scrollbar */
    top: 50px;
    background-color: rgb(240, 128, 128);
    
}

.sidebarWrapper{
    padding: 20px;
    color: #000;
   
}
.sidebarMenu{
    margin-bottom: 10px;
    
}
.sidebarTittle{
    font-size: 13px;
}
.sidebarList{
    list-style: none;
    padding: 5px;
 
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;    
}
.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(212, 74, 74); ;
}
