.sidebar {
  flex: 1;
  height: 100%; /*evitamos el desbordamiento*/
  /*se mueva con el scrollbar */
  min-width: 250px;
  max-width: 250px;
  background-color: rgb(240, 128, 128);
}

.sidebarWrapper {
  padding: 20px;
  color: #000;
  height: 100%;
  box-sizing: border-box;
}
.sidebarMenu {
  margin-bottom: 10px;
  height: inherit;
}
.sidebarTittle {
  font-size: 13px;
}
.sidebarList {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  justify-content: space-around;
  padding: 5px;
  box-sizing: border-box;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(212, 74, 74);
}
